doctype html
html
  head
    title= title
    <meta name="viewport" content="width=device-width, initial-scale=1" />   
    <meta name="twitter:card" content="summary_large_image">    
    <meta name="twitter:title" content="City Design">
    meta(name="twitter:image:src" content=src)
    style
     include standaloneImage.css
  body
  .main
    .imagePart 
       img(src= src, alt="")
    .nonImagePart 
     .imageHeader
       h1= message
     div.description
      p= description       
     .descriptionFooter
      a(href=siteUrl)=siteUrl